page-faltas {
    .col-faltas{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 16px;
        color: #14669b;
        
    }
    
    .col-faltas-result{
        margin-top: auto;
        margin-bottom: auto;
        color: #2691d0;
        font-size: 16px;
        font-weight: bold;
    }

}
