<!-- Generated template for the ComponentsCustomModalComponent component -->
<div class="csf-modal-container" [class.hidden]="!showing">
    <div class="csf-modal-overlay" (click)="closeModal()">

    </div>

    <div class="csf-modal-content">
        <div class="csf-close-modal-button" (click)="closeModal()">X</div>
        <div class="csf-modal-header">

        </div>

        <div *ngIf="checkList()" style="margin:auto">

            <div class="csf-modal-body">
                <div class="csf-class-name">
                    Matéria: {{ materianame }}
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Lançamento</td>
                            <td>Faltas</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of detalhesFaltas">
                            <td>{{ d.data | date: 'dd/MM/yyyy' }}</td>
                            <td>{{d.totalFaltas}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="csf-class-name">
                    {{ totalFaltas }}
                </div>

                <div class="csf-class-date">
                    Lancamento: {{ data | date: 'dd/MM/yyyy HH:mm' }}
                </div>-->
            </div>

        </div>

        <div *ngIf="!checkList()" style="margin:auto">

            <div class="csf-modal-body">
                <div class="csf-class-name">
                    Matéria: {{ materianame }}
                </div>

                <div class="csf-class-name">
                    Nota: {{ nota }}
                </div>

                <div class="csf-class-date">
                    Lançamento: {{ lancamento | date: 'dd/MM/yyyy HH:mm' }}
                </div>
            </div>

        </div>
    </div>
</div>